body {
    
     header {
         background: #bbf1e6;
         padding: 20px 40px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         text-shadow:#4610aa;
        font-family: 'Abril Fatface', serif;
      font-size: 20px;
      color: #2a7ae2; 
      margin-bottom: 20px;

   
 
    }
}
    
    h1 {
        margin: 0;
        text-align: right;
        text-decoration: revert-layer;
        text-shadow: 2px 2px 4px #715cec;
         font-family: 'Abril Fatface', serif;
        color: rgb(61, 146, 196);
  
  
    }
 .logo img {
        width: 100px;
        height: 100px;
 }
    ul {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
        float: right;
        gap: 40px;
    }

    .image-card {
        position: relative;
        width: 320px;
        overflow: hidden;
        box-shadow: 0 15px 30px rgba(0,0,0,0.25);
        
    }
 form {
            width: 350px;
            background: rgb(224, 191, 235);
            padding: 40px;
            box-shadow: 0 12px 30px rgb(7, 197, 134);
            text-size-adjust:20px;
            font-family: 'Abril Fatface', serif;
            color: rgb(255, 255, 255);
            margin-left: 15px;
            border-radius: 8px;
            transition: 0.3s;
            font-weight: 600;
  
  

       
        }
    


    img {
        width:50%;
        height:400px;
        border-radius: 10px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.25);
        margin:right;
       opacity:20px ;
        }


button:hover {
    background-color: #c06dda; 
    transition: 0.25s ease-in-out;
}
    
          footer {
        background:#040549; 
        padding: 18px;
        text-align: center;
        color: white;
        font-size: 15px;
      font-family: italic, serif;
        
    
}
    
    

    


